* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-shrink: 0;
    height: 130px;
}

span {
    display: inline-block;
}

#timer {
    text-align: center;
}

span {
    font-weight: bold;
    font-size: 1.8em;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
}

button:hover {
    cursor: pointer;
    opacity: .6;
}